$primary-color : #9356DC;
$second-color : #FF79DA;
$tertiary-color : #99E2D0;
$nav-text-color : #353535;
$nav-background-color : #eaeaea; 
$main--background-color : #f6f6f6;
$footer-background-color : #353535;
$police-logo : Shrikhand;
$police-text : Roboto;
/*var graphic*/

/*mixin*/
@mixin flex-row  {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
/*mixin*/

/*Animation*/

.loader {
    @include flex-row;
    justify-content: center;
    align-items: center;
    height: 200px;
    animation: loadertime 3s ease 0ms 1 normal forwards;
   
    @keyframes loadertime {

        0% {visibility: visible;}
        99.99% {visibility: visible;height: 200px; width: 100%;}
        99.999% {visibility: hidden; height: 200px; width: 100%;}
        100% {visibility: hidden; height: 0; width: 0;}    
    }

    p {
        font-family: $police-logo;
        font-weight: 900;
        font-size: 50px;
        animation: loaderlogo 1s ease 50ms 3 normal none;
        background: linear-gradient(0deg ,rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 33%, rgba(153, 226, 208, 1) 76%);
        color: transparent;
        background-clip: text;
    }
    
    .loader-letter {

        @for $i from 1 through 8 {
            &-#{$i} {
                animation-delay: 60ms * $i;
            }
        }
    }
    
    @keyframes loaderlogo {

        0% {transform: translateY(0px);}

        50% {transform: translateY(-20px);}

        100% {transform: translateY(0);}
        
    }

}

header , main , footer {
    animation: content 1s ease 3s 1 normal forwards;
    visibility: hidden;

    @keyframes content {
        0% {opacity: 0;}

        100% {visibility: visible;}
  
    }
}

/*Animation*/

body{
    font-family: $police-text;
    width: 100%;
}

header {
    @include flex-column;
    align-items: center;
    height: 113px;

    .logo_link {
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        width: 100%;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

        img{
            height: 30px;
        }
    }
    
    nav {
        @include flex-row;
        z-index: 1;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        background-color: $nav-background-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


        i {
            margin: 0 0.5rem;
        }

        input {
            border: none;
            background-color: $nav-background-color;

            &::placeholder {
                color: $nav-text-color;
                opacity: 1;
                font-size: 16px;
            }
        }
    }

}

main {
    background-color: $main--background-color;

    .reservation {
        @include flex-column;
        justify-content: center;
        align-items: center;

        h1{
            @include flex-column;
            margin: 2rem auto;
            font-size: 24px;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            width: 250px;
            text-align: center;
            flex-wrap: wrap;
        }

        h2 {
            @include flex-column;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 300;
            text-align: center;
            width: 320px;
            flex-wrap: wrap;
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 218px;
            height: 50px;
            font-style: normal;
            color: white;
            text-decoration: none;
            border-radius: 25px;
            background: linear-gradient( $second-color, $primary-color);
            box-shadow: 0px 4px 10px 0px #00000040;
            margin: 30px auto;
            transition: all 500ms ease-in-out;

            &:active,
            &:hover{
                opacity:0.7 ;
                box-shadow: 0px 4px 15px 2px #00000059;
            }
        }
    }

    .fonctionnement {
        height: 380px;
        @include flex-column;
        background-color: white;
        padding: 20px;

        h3 {
            font-size: 24px;
            font-weight: 700;
            margin: 30px 0;
        }

        .etape{

            div{
                @include flex-row;
                align-items: center;
                background: rgba(246, 246, 246, 1);
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                border-radius: 20px;
                height: 73px;
                margin: 10px 0;

                .puce {
                    background: rgba(147, 86, 220, 1);
                    color: white;
                    border-radius: 100px;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 7px;
                }

                i {
                    color: rgba(126, 126, 126, 1);
                    position: relative;
                    left: 30px;
                    font-size: 20px;
                }

                .fa-store {
                color: rgba(147, 86, 220, 1);
                }

                p {
                    position: absolute;
                    left: 90px;
                }
            }
        }
    }

    .restaurant {
        @include flex-column;
        justify-content: center;
        padding: 20px;

        h3 {
            font-size: 24px;
            font-weight: 700;
            margin: 10px 0;
        }

        div {
            .restaurant-card {
                background: white;
                border-radius: 15px;
                margin: 10px 0;
                height: 251px;
                position: relative;

                a {
                    height: 251px;
                    text-decoration: none;
                    color: initial;

                    img {
                        border-radius: 15px 15px 0 0;
                        object-fit: cover;
                        object-position: center;
                        height: 171px;
                        width: 100%;
                    }

                    .restaurant-card-text {
                        height: 80px;
                        padding: 10px ;

                        h4 {
                            font-size: 18px;
                            font-weight: 700;
                            margin: 5px 0;
                        }

                        p {
                            font-size: 17px;
                            font-weight: 300;
                            margin: 5px 0;
                        }

                    }

                    .new {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 1;
                        width: 80px;
                        height: 29px;
                        border-radius: 2px;
                        color: #008766;
                        background-color: $tertiary-color;
                        font-size: 14px;
                        position: absolute;
                        right: 15px;
                        bottom: 211px;
                    }

                   &:active > .new {
                        visibility: hidden;
                    } 
                }

                .like {
                    height: 21px;
                    width: 21px;
                    position: absolute;
                    bottom: 30px;
                    right: 20px;
                    font-size: 21px;

                    .fa-regular {
                        z-index: 1;
                        
                        &:active,
                        &:hover {
                            visibility: hidden;
                        }

                    }

                    .fa-solid {
                        position: relative;
                        bottom: 22px;
                        z-index: 0;
                        background: linear-gradient( $primary-color, $second-color);
                        background-clip: text;
                        color: transparent;
                        opacity: 0;
                        transition: opacity 500ms;

                        &:active,
                        &:hover {
                            opacity: 1;
                        }

                    }
                
               
                }
            }
        }
    }
}

footer{
    background-color: $footer-background-color;
    opacity: 1;
    color: white;
    height: 186px;
    padding: 22px 25px;

    h1 {
        font-family: $police-logo;
        font-weight: 400;
        font-size: 18px;
        padding: 20px 0;

    }

    .footer-text {

        font-family: $police-text;
        font-weight: 400;
        font-size: 16px;
        margin: 10px 0;
        position: relative;

        .footer-text-lign {
            @include flex-row;
            font-weight: 500;
            margin: 15px 0;
            align-items: center;

            a {
                @include flex-row;
            
                i {
                    font-size: 11px;
                    margin: 3px 0;
                }

                .footer-text-lign-i {
                    position: absolute;
                    left: 20px;
                }
        }

            a{
                text-decoration: none;
                color: white;
                
            }
        }
      
    }
}

/*responsive*/
@media (min-width: 768px) {

    main{
        
        .reservation{

            h1{
                width: auto;
            }

            h2{
                width: auto;
            }
        }

    }
    
    footer{
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        align-items: end;

        .footer-text{
            display: flex;
            justify-content: flex-end;

            .footer-text-lign{
                margin: 15px 15px 12.5px 0px;

                a {
                    
                    i {
                        margin: 3px;
                    }

                    .footer-text-lign-i{
                    position: initial;
                    } 
                }
            }
            
        }
    }
}


@media (min-width: 1024px) {

    main{
        
        .fonctionnement{
            height: 228px;

            h3{
                margin: 20px;
            }

            .etape {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                div{
                    width: 30%;

                    .puce{
                        position: relative;
                        left: -15px;
                    }

                    i{
                        position: initial;
                        margin-right: 10px;
                    }

                    p{
                        position: initial;
                    }
                }
            }
        }

        .restaurant{
            h3{
                margin: 10px 0 10px 5%;

            }

            div{
                @include flex-row;
                flex-wrap: wrap;
                justify-content: space-around;

                .restaurant-card{
                    margin: 20px 0;
                    width: 40%;

                    .restaurant-card-text{
                        @include flex-column;
                        justify-content: start;
                    }
                }
            }
        }
    }

}
/*responsive*/