/*var graphic*/
/*mixin*/
/*mixin*/
/*Animation*/
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  animation: loadertime 3s ease 0ms 1 normal forwards;
}
@keyframes loadertime {
  0% {
    visibility: visible;
  }
  99.99% {
    visibility: visible;
    height: 200px;
    width: 100%;
  }
  99.999% {
    visibility: hidden;
    height: 200px;
    width: 100%;
  }
  100% {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
.loader p {
  font-family: Shrikhand;
  font-weight: 900;
  font-size: 50px;
  animation: loaderlogo 1s ease 50ms 3 normal none;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 33%, rgb(153, 226, 208) 76%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.loader .loader-letter-1 {
  animation-delay: 60ms;
}
.loader .loader-letter-2 {
  animation-delay: 120ms;
}
.loader .loader-letter-3 {
  animation-delay: 180ms;
}
.loader .loader-letter-4 {
  animation-delay: 240ms;
}
.loader .loader-letter-5 {
  animation-delay: 300ms;
}
.loader .loader-letter-6 {
  animation-delay: 360ms;
}
.loader .loader-letter-7 {
  animation-delay: 420ms;
}
.loader .loader-letter-8 {
  animation-delay: 480ms;
}
@keyframes loaderlogo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

header, main, footer {
  animation: content 1s ease 3s 1 normal forwards;
  visibility: hidden;
}
@keyframes content {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
  }
}

/*Animation*/
body {
  font-family: Roboto;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 113px;
}
header .logo_link {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .logo_link img {
  height: 30px;
}
header nav {
  display: flex;
  flex-direction: row;
  z-index: 1;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
header nav i {
  margin: 0 0.5rem;
}
header nav input {
  border: none;
  background-color: #eaeaea;
}
header nav input::-moz-placeholder {
  color: #353535;
  opacity: 1;
  font-size: 16px;
}
header nav input::placeholder {
  color: #353535;
  opacity: 1;
  font-size: 16px;
}

main {
  background-color: #f6f6f6;
}
main .reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .reservation h1 {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  font-size: 24px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  width: 250px;
  text-align: center;
  flex-wrap: wrap;
}
main .reservation h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  width: 320px;
  flex-wrap: wrap;
}
main .reservation .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  font-style: normal;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  margin: 30px auto;
  transition: all 500ms ease-in-out;
}
main .reservation .button:active, main .reservation .button:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.3490196078);
}
main .fonctionnement {
  height: 380px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}
main .fonctionnement h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}
main .fonctionnement .etape div {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(246, 246, 246);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 73px;
  margin: 10px 0;
}
main .fonctionnement .etape div .puce {
  background: rgb(147, 86, 220);
  color: white;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 7px;
}
main .fonctionnement .etape div i {
  color: rgb(126, 126, 126);
  position: relative;
  left: 30px;
  font-size: 20px;
}
main .fonctionnement .etape div .fa-store {
  color: rgb(147, 86, 220);
}
main .fonctionnement .etape div p {
  position: absolute;
  left: 90px;
}
main .restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
main .restaurant h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0;
}
main .restaurant div .restaurant-card {
  background: white;
  border-radius: 15px;
  margin: 10px 0;
  height: 251px;
  position: relative;
}
main .restaurant div .restaurant-card a {
  height: 251px;
  text-decoration: none;
  color: initial;
}
main .restaurant div .restaurant-card a img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 171px;
  width: 100%;
}
main .restaurant div .restaurant-card a .restaurant-card-text {
  height: 80px;
  padding: 10px;
}
main .restaurant div .restaurant-card a .restaurant-card-text h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0;
}
main .restaurant div .restaurant-card a .restaurant-card-text p {
  font-size: 17px;
  font-weight: 300;
  margin: 5px 0;
}
main .restaurant div .restaurant-card a .new {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  font-size: 14px;
  position: absolute;
  right: 15px;
  bottom: 211px;
}
main .restaurant div .restaurant-card a:active > .new {
  visibility: hidden;
}
main .restaurant div .restaurant-card .like {
  height: 21px;
  width: 21px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  font-size: 21px;
}
main .restaurant div .restaurant-card .like .fa-regular {
  z-index: 1;
  background: white;
  transition: opacity 500ms;
}
main .restaurant div .restaurant-card .like .fa-regular:active, main .restaurant div .restaurant-card .like .fa-regular:hover {
  opacity: 0;
}
main .restaurant div .restaurant-card .like .fa-solid {
  position: relative;
  bottom: 22px;
  z-index: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

footer {
  background-color: #353535;
  opacity: 1;
  color: white;
  height: 186px;
  padding: 22px 25px;
}
footer h1 {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0;
}
footer .footer-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0;
  position: relative;
}
footer .footer-text .footer-text-lign {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  margin: 15px 0;
  align-items: center;
}
footer .footer-text .footer-text-lign a {
  display: flex;
  flex-direction: row;
}
footer .footer-text .footer-text-lign a i {
  font-size: 11px;
  margin: 3px 0;
}
footer .footer-text .footer-text-lign a .footer-text-lign-i {
  position: absolute;
  left: 20px;
}
footer .footer-text .footer-text-lign a {
  text-decoration: none;
  color: white;
}

/*responsive*/
@media (min-width: 768px) {
  main .reservation h1 {
    width: auto;
  }
  main .reservation h2 {
    width: auto;
  }
  footer {
    height: 114px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  footer .footer-text {
    display: flex;
    justify-content: flex-end;
  }
  footer .footer-text .footer-text-lign {
    margin: 15px 15px 12.5px 0px;
  }
  footer .footer-text .footer-text-lign a i {
    margin: 3px;
  }
  footer .footer-text .footer-text-lign a .footer-text-lign-i {
    position: initial;
  }
}
@media (min-width: 1024px) {
  main .fonctionnement {
    height: 228px;
  }
  main .fonctionnement h3 {
    margin: 20px;
  }
  main .fonctionnement .etape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main .fonctionnement .etape div {
    width: 30%;
  }
  main .fonctionnement .etape div .puce {
    position: relative;
    left: -15px;
  }
  main .fonctionnement .etape div i {
    position: initial;
    margin-right: 10px;
  }
  main .fonctionnement .etape div p {
    position: initial;
  }
  main .restaurant h3 {
    margin: 10px 0 10px 5%;
  }
  main .restaurant div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .restaurant div .restaurant-card {
    margin: 20px 0;
    width: 40%;
  }
  main .restaurant div .restaurant-card .restaurant-card-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
/*responsive*//*# sourceMappingURL=styles.css.map */