$primary-color : #9356DC;
$second-color : #FF79DA;
$tertiary-color : #99E2D0;
$nav-text-color : #353535;
$nav-background-color : #eaeaea; 
$main--background-color : #f6f6f6;
$footer-background-color : #353535;
$police-logo : Shrikhand;
$police-text : Roboto;
/*var graphic*/

/*mixin*/
@mixin flex-row  {
    display: flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
/*mixin*/

/*Animation*/

.card {

    .head {
        animation: slid 500ms ease-out 0ms 1 normal forwards;

    }

    .plats{

        .titre{

            h2{
                animation: slid 500ms ease-out 100ms 1 normal forwards;

            }
        
            hr{
                animation: slid 500ms ease-out 200ms 1 normal forwards;

            }

        }

        .repas{
            animation: slid 500ms ease-out 300ms 1 normal forwards;

        }

    }

    .repas{
        animation: slid 500ms ease-out 400ms 1 normal forwards;

    }

}

@keyframes slid {
    0%{transform: translateX(-5000000px);
        opacity: 0;}

    1%{transform: translateX(-500px);
        opacity: 0.5;}

    100%{transform: translateX(0);
        opacity: 1;}
    
}

/*Animation*/


body{
    font-family: $police-text;
    width: 100%;
}

header {
    @include flex-row;
    align-items: center;
    height: 63px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;

    .back  {
        position: absolute;
        left: 20px;
        
        a {
            color: #353535;

            i {
                font-size: 17px;
            }  
        }
    }

    .logo_link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        width: 100%;
        
        img{
            height: 30px;
        }
    }
}

main {
    @include flex-column;
    background-color: $main--background-color;
    justify-content: center;

        .img-background {

            img {
                    object-fit: cover;
                    object-position: center;
                    height: 250px;
                    width: 100%;
            }
        }

        .card {
            background-color: $main--background-color;
            width: 100%;
            position: relative;
            border-radius: 30px 30px 0 0;
            bottom: 50px;
            z-index: 1;

            .head {
                @include flex-row;
                align-items: center;
                padding: 20px;
                position: relative;

                h1 {
                    font-family: $police-logo;
                    font-weight: 400;
                    font-size: 28px;
                    width: 80%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }

                .like {
                    height: 21px;
                    width: 21px;
                    font-size: 21px;
                    position: absolute;
                    right: 40px;
                
                    .fa-regular {
                    z-index: 1;
                    
                        &:active,
                        &:hover {
                            visibility: hidden;
                        }

                    }

                    .fa-solid {
                        position: relative;
                        bottom: 22px;
                        z-index: 0;
                        background: linear-gradient( $primary-color, $second-color);
                        background-clip: text;
                        color: transparent;
                        opacity: 0;
                        transition: opacity 500ms;

                        &:active,
                        &:hover {
                            opacity: 1;
                        }

                    }
                
               
                }
            
            }

            .plats {
                padding: 20px;

                .titre {
                    margin: 0 0 10px 0;
                    position: relative;
                    height: 27px;
                    width: 100%;

                    h2 {
                        font-weight: 300;
                        font-size: 16px;

                    }

                    hr {
                        border: 3px solid $tertiary-color;
                        width: 40px;
                        position: absolute;
                    }
                }

                .repas {
                    @include flex-row;
                    width: 100%;
                    background: white;
                    border-radius: 15px;
                    align-items: center;
                    position: relative;
                    margin-bottom: 10px;

                    .repas-front {
                        @include flex-row;
                        height: 100%;
                        width: 100%;
                        justify-content: space-between;
                        z-index: 2;
                        background-color: white;
                        border-radius: 15px;
                        padding: 15px;
                        transition: all 500ms;
                        overflow: hidden;
                        white-space: nowrap;

                        &:active,
                        &:hover {
                            margin-right: 60px;
                            border-radius: 15px 0 0 15px;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                        
                        .nom {
                            width: 86%;
                            
                            h3 {
                                font-weight: 500;
                                font-size: 18px;
                                padding: 0 0 10px 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }

                            p {
                                font-weight: 300;
                                font-size: 15px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .prix {
                            font-weight: 700;
                            font-size: 15px;
                            display: flex;
                            align-items: end;
                        }
                    }

                    .repas-back {
                        display: flex;
                        z-index: 1;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        background-color: $tertiary-color ;
                        align-items: center;
                        justify-content: end;
                        border-radius: 15px;
                        right: 0px;
                        
                        i{
                            position: absolute;
                            right: 20px;
                            font-size: 20px;
                            border-radius: 50%;
                            border: solid;
                            color: white;
                            background-color: $tertiary-color;
                        }
                    }
                    
                }
            }

           .button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 218px;
                height: 50px;
                font-style: normal;
                color: white;
                text-decoration: none;
                border-radius: 25px;
                background: linear-gradient( $second-color, $primary-color);
                box-shadow: 0px 4px 10px 0px #00000040;
                margin: 30px auto;
                transition: all 500ms ease-in-out;

                &:active,
                &:hover{
                    opacity:0.7 ;
                    box-shadow: 0px 4px 15px 2px #00000059;
                }
            }

        }
}

footer{
    background-color: $footer-background-color;
    opacity: 1;
    color: white;
    height: 186px;
    padding: 22px 25px;

    h1 {
        font-family: $police-logo;
        font-weight: 400;
        font-size: 18px;
        padding: 20px 0;

    }

    .footer-text {

        font-family: $police-text;
        font-weight: 400;
        font-size: 16px;
        margin: 10px 0;
        position: relative;

        .footer-text-lign {
            @include flex-row;
            font-weight: 500;
            margin: 15px 0;
            align-items: center;

            a {
                @include flex-row;
            
                i {
                    font-size: 11px;
                    margin: 3px 0;
                }

                .footer-text-lign-i {
                position: absolute;
                left: 20px;
                }
            }

            a{
                text-decoration: none;
                color: white;
            }
        }
      
    }
}

/*responsive*/
@media (min-width: 768px) {

    main{
        background-color: white;
        
        .card {
            width: 90%;
            left: 5%;
            margin-bottom: -50px;
        }
    }

    footer{
        height: 114px;
        display: flex;
        flex-direction: row-reverse;
        align-items: end;

        .footer-text{
            display: flex;
            justify-content: flex-end;

            .footer-text-lign{
                margin: 15px 15px 12.5px 0px;

                a{
                    i {
                        margin: 3px;
                    }

                    .footer-text-lign-i{
                        position: initial;
                    }  
                }
                
            }
            
        }
    }
    
}
/*responsive*/